.infobox
  %h1
    %span
      =image_tag("/cactus.png", style:"max-width:20px;position: relative;bottom: 7px;")
    =restaurant.name
  %p
    =restaurant.description
  .row
    -restaurant.images.each do |image|
      .col-xs-4{style: "max-height:200px;overflow:hidden;"}
        %a.fancybox{:href => image}
          .food-image{style:"background: url(#{image}) no-repeat center center;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;height:200px;width:200px;"}
    
.arrow-down
